.df-footer-image {
  background-image: url("https://res.cloudinary.com/demingfactor/image/upload/v1532936977/df-footer.svg");
  background-color: grey;
  background-repeat: no-repeat;
  background-size: 1500px 750px;
  background-position: 55% 60%;
}

@media (min-width: 368px) {}

@media (min-width: 450px) {}

@media (min-width: 550px) {}

@media (min-width: 670px) {}

/* tailwind md */

@media (min-width: 768px) {
  .df-footer-image {
    background-size: 3000px 1500px;
  }
}