/* font.css - Custom @font-face declarations only */

@font-face {
    font-family: EuclidFlex;
    font-style: normal;
    font-weight: 600;
    src: url("fonts/EuclidFlex-Bold.otf") format("opentype");
}

@font-face {
    font-family: EuclidFlex;
    font-style: italic;
    font-weight: 600;
    src: url("./fonts/EuclidFlex-BoldItalic.otf") format("opentype");
}

@font-face {
    font-family: EuclidFlex;
    font-style: normal;
    font-weight: 300;
    src: url("./fonts/EuclidFlex-Light.otf") format("opentype");
}

@font-face {
    font-family: EuclidFlex;
    font-style: italic;
    font-weight: 300;
    src: url("fonts/EuclidFlex-LightItalic.otf") format("opentype");
}

@font-face {
    font-family: EuclidFlex;
    font-style: normal;
    font-weight: 500;
    src: url("fonts/EuclidFlex-Medium.otf") format("opentype");
}

@font-face {
    font-family: EuclidFlex;
    font-style: italic;
    font-weight: 500;
    src: url("fonts/EuclidFlex-MediumItalic.otf") format("opentype");
}

@font-face {
    font-family: EuclidFlex;
    font-style: normal;
    font-weight: 400;
    src: url("./fonts/EuclidFlex-Regular.otf") format("opentype");
}

@font-face {
    font-family: EuclidFlex;
    font-style: italic;
    font-weight: 400;
    src: url("fonts/EuclidFlex-RegularItalic.otf") format("opentype");
}

@font-face {
    font-family: EuclidFlex;
    font-style: normal;
    font-weight: 200;
    src: url("fonts/EuclidFlex-Ultralight.otf") format("opentype");
}

@font-face {
    font-family: EuclidFlex;
    font-style: italic;
    font-weight: 200;
    src: url("fonts/EuclidFlex-UltralightItalic.otf") format("opentype");
}
