 .brazo {
   background-image: url("https://placeimg.com/858/528/any");
 }

 .cantina-rotino {
   background-image: url("https://placeimg.com/858/528/any");
 }

 .mitimes {
   background-image: url("https://placeimg.com/858/528/any");
 }

 .my-money-zen {
   background-image: url("https://placeimg.com/858/528/any");
 }

 .logo {}