 .brazo {
   background-image: url("https://res.cloudinary.com/demingfactor/image/upload/v1532921561/Deming%20Factor/brazo-de-gaston-wine-branding-and-packaging.jpg");
 }

 .cantina-rotino {
   background-image: url("http://res.cloudinary.com/demingfactor/image/upload/v1532921604/Deming%20Factor/cantina-rotino-award-winning-spaghetti-packaging.jpg");
 }

 .mitimes {
   background-image: url("https://res.cloudinary.com/demingfactor/image/upload/v1532921610/Deming%20Factor/mititmes-smart-timekeeping-software.png");
 }

 .my-money-zen {
   background-image: url("https://res.cloudinary.com/demingfactor/image/upload/v1532921572/Deming%20Factor/my-money-zen-budgeting-made-easy.png");
 }

 .logo {}