.brazo {
  background-image: url("https://res.cloudinary.com/demingfactor/image/upload/v1532921561/Deming%20Factor/brazo-de-gaston-wine-branding-and-packaging.jpg");
}

.cantina-rotino {
  background-image: url("https://res.cloudinary.com/demingfactor/image/upload/v1532921604/Deming%20Factor/cantina-rotino-award-winning-spaghetti-packaging.jpg");
}

.mitimes {
  background-image: url("https://res.cloudinary.com/demingfactor/image/upload/v1532921610/Deming%20Factor/mititmes-smart-timekeeping-software.png");
}

.my-money-zen {
  background-image: url("https://res.cloudinary.com/demingfactor/image/upload/v1532921572/Deming%20Factor/my-money-zen-budgeting-made-easy.png");
}

.df-footer-image {
  background-image: url("https://res.cloudinary.com/demingfactor/image/upload/v1532936977/df-footer.svg");
  background-color: grey;
  background-repeat: no-repeat;
  background-size: 1500px 750px;
  background-position: 55% 60%;
}
.bg-df-hero {
  background-image: url("https://res.cloudinary.com/demingfactor/image/upload/v1538011039/df_background.svg");
  /* background-color: grey; */
  background-repeat: no-repeat;
  /* background-size: 90% 90%; */
  background-position: 0% 70%;
   -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
}

@media (min-width: 368px) {}

@media (min-width: 450px) {}

@media (min-width: 550px) {}

@media (min-width: 670px) {}

/* tailwind md */

@media (min-width: 768px) {
  .df-footer-image {
    background-size: 3000px 1500px;
  }
}