/* layout.css - layout code only  */

.max-w-container {
  max-width: 1920px;
  margin: auto;
}

.awards {
  padding: 1.5rem;
}

.pitch>p {
  font-size: 1.5rem;
}

.logo {
  padding-left: 1.5rem;
  height: 3rem;
}

.awards.grid>div {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-auto-rows: 1.5rem;
  grid-column-gap: 1.5rem;
}

.awards.grid>div>.title {
  grid-column-start: 1;
  grid-column-end: 6;
  grid-row-start: 2;
  grid-row-end: 4;
}

.awards.grid>div>.award-1 {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 5;
  grid-row-end: 13;
  padding: 0;
}

.awards.grid>div>.award-2 {
  grid-column-start: 4;
  grid-column-end: 7;
  grid-row-start: 5;
  grid-row-end: 13;
  padding: 0;
  padding: 0;
}

.awards.grid>div>.award-3 {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 13;
  grid-row-end: 21;
  padding: 0;
  padding: 0;
}

.awards.grid>div>.award-4 {
  grid-column-start: 4;
  grid-column-end: 7;
  grid-row-start: 13;
  grid-row-end: 21;
  padding: 0;
  padding: 0;
}

@supports (display: grid) {
  @media (min-width: 670px) {
    header.grid>div {
      grid-column-start: 2;
      grid-column-end: 12;
      grid-row-start: 1;
      grid-row-end: 19;
      padding: 0;
      display: grid;
      grid-template-columns: repeat(10, 1fr);
      grid-auto-rows: 1.5rem;
      grid-column-gap: 1.5rem;
    }
    .logo {
      grid-column-start: 1;
      grid-column-end: 4;
      grid-row-start: 1;
      grid-row-end: 7;
      padding-left: 0;
      height: auto;
    }
    hgroup {
      grid-column-start: 1;
      grid-column-end: 6;
      grid-row-start: 8;
      grid-row-end: 16;
      padding: 0;
    }
    nav {
      grid-column-start: 1;
      grid-column-end: 10;
      grid-row-start: 18;
      grid-row-end: 26;
      padding: 0;
    }
    .pitch {
      font-size: 1.25rem;
      grid-column-start: 1;
      grid-column-end: 12;
      grid-row-start: 27;
      grid-row-end: 33;
      padding: 0px;
    }
    /* .pitch>p {
      padding: 0;
      font-size: 1.25rem;
    } */
    .grid {
      display: grid;
      grid-gap: 1.5rem;
      grid-template-columns: repeat(12, 1fr);
      grid-auto-rows: 1.5rem;
      grid-auto-flow: column dense;
    }
    .grid>.img {
      grid-column-start: 2;
      grid-column-end: 13;
      grid-row-start: 2;
      grid-row-end: 14;
      max-height: 33rem;
    }
    .grid.alternate>.img {
      grid-column-start: 1;
      grid-column-end: 12;
      grid-row-start: 2;
      grid-row-end: 14;
      max-height: 33rem;
    }
    .grid>section {
      grid-column-start: 2;
      grid-column-end: 10;
      grid-row-start: 14;
      grid-row-end: 26;
      padding: 0;
    }
    .grid.alternate>section {
      grid-column-start: 4;
      grid-column-end: 12;
      grid-row-start: 14;
      grid-row-end: 26;
      padding: 0;
    }
    /* ====================================================================== */
    /* ================== Gallery grid (min-width: 670px) =================== */
    /* ====================================================================== */
    .gallery {
      padding: 1.5rem 0 0;
    }
    .gallery.grid>div{
      grid-column-start: 2;
      grid-column-end: 12;
      grid-row-start: 1;
      grid-row-end: 20;
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-auto-rows: 1.5rem;
      grid-column-gap: 3rem;
    }
    .gallery.grid>div>.title {
      grid-column-start: 1;
      grid-column-end: 5;
      grid-row-start: 2;
      grid-row-end: 4;
    }
    .gallery.grid>div>figure:nth-child(2) {
      grid-column-start: 1;
      grid-column-end: 3;
      grid-row-start: 5;
      grid-row-end: 15;
      padding: 0;
    }
    .gallery.grid>div>figure:nth-child(3){
      grid-column-start: 3;
      grid-column-end: 5;
      grid-row-start: 5;
      grid-row-end: 15;
      padding: 0;
    }
    .gallery.grid>div>figure:nth-child(4) {
      grid-column-start: 1;
      grid-column-end: 3;
      grid-row-start: 17;
      grid-row-end: 27;
      padding: 0;
    }
    .gallery.grid>div>figure:nth-child(5){
      grid-column-start: 3;
      grid-column-end: 5;
      grid-row-start: 17;
      grid-row-end: 27;
      padding: 0;
    }
    .gallery.grid>div>figure:nth-child(6){
      grid-column-start: 1;
      grid-column-end: 3;
      grid-row-start: 29;
      grid-row-end: 39;
      padding: 0;
    }
    .gallery.grid>div>figure:nth-child(7) {
      grid-column-start: 3;
      grid-column-end: 5;
      grid-row-start: 29;
      grid-row-end: 39;
      padding: 0;
    }
    /* ====================================================================== */
    /* ==================== Awards grid (min-width: 670px) ==================== */
    /* ====================================================================== */
    .awards {
      padding: 1.5rem 0 0;
    }
    .awards.grid>div, .form.grid>div {
      grid-column-start: 2;
      grid-column-end: 12;
      grid-row-start: 1;
      grid-row-end: 8;
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-auto-rows: 1.5rem;
      grid-column-gap: 3rem;
    }
    .awards.grid>div>.title {
      grid-column-start: 1;
      grid-column-end: 4;
      grid-row-start: 2;
      grid-row-end: 4;
    }
    .awards.grid>div>.award-1 {
      grid-column-start: 1;
      grid-column-end: 2;
      grid-row-start: 5;
      grid-row-end: 10;
      padding: 0;
    }
    .awards.grid>div>.award-2 {
      grid-column-start: 2;
      grid-column-end: 3;
      grid-row-start: 5;
      grid-row-end: 10;
      padding: 0;
    }
    .awards.grid>div>.award-3 {
      grid-column-start: 3;
      grid-column-end: 4;
      grid-row-start: 5;
      grid-row-end: 10;
      padding: 0;
    }
    .awards.grid>div>.award-4 {
      grid-column-start: 4;
      grid-column-end: 5;
      grid-row-start: 5;
      grid-row-end: 10;
      padding: 0;
    }
    /* .awards.grid>div {
      background: aqua;
    } */
    /* ====================================================================== */
    /* =================== form grid (min-width: 670px) =================== */
    /* ====================================================================== */
    .form.grid {
      padding: 0;
    }
    .form.grid>div {
      grid-row-start: 1;
      grid-row-end: 7;
      padding: 0;
    }
    .form.grid>div>form {
      grid-column-start: 1;
      grid-column-end: 4;
      grid-row-start: 4;
      grid-row-end: 7;
    }
    /*======================================================================= */
    /* ================ Footer grid (min-width: 670px) ===================  */
    /* ====================================================================== */
    footer.grid>div {
      grid-column-start: 2;
      grid-column-end: 12;
      grid-row-start: 1;
      grid-row-end: 5;
      padding: 0;
      display: grid;
      grid-template-columns: repeat(12, 1fr);
      grid-auto-rows: 1.5rem;
      grid-column-gap: 3rem;
      padding: 0px;
    }
    footer>div>hgroup {
      grid-column-start: 1;
      grid-column-end: 7;
      grid-row-start: 2;
      grid-row-end: 5;
      padding: 0;
    }
    footer>div>.contact {
      grid-column-start: 7;
      grid-column-end: 13;
      grid-row-start: 2;
      grid-row-end: 3;
      padding: 0;
    }
    footer>div>address {
      grid-column-start: 7;
      grid-column-end: 13;
      grid-row-start: 4;
      grid-row-end: 6;
    }
    footer {
      padding: 0;
    }
  }
  @media (min-width: 965px) {
    .grid {
      grid-template-columns: 1fr 25.625rem repeat(10, 1fr);
      grid-auto-rows: repeat(26rem, 1fr);
      grid-auto-flow: row;
      grid-column-gap: 3rem;
    }
    /* ====================================================================== */
    /* ============================ Header grid (min-width: 965px) ============================= */
    /* ====================================================================== */
    header.grid, footer.grid, .awards.grid {}
    header.grid>div {
      grid-column-start: 2;
      grid-column-end: 12;
      grid-row-start: 1;
      grid-row-end: 17;
      padding: 0;
      display: grid;
      grid-template-columns: repeat(10, 1fr);
      grid-auto-rows: 1.5rem;
      grid-column-gap: 1.5rem;
    }
    hgroup {
      grid-column-start: 1;
      grid-column-end: 6;
      grid-row-start: 6;
      grid-row-end: 13;
      padding: 0;
    }
    nav {
      grid-column-start: 1;
      grid-column-end: 6;
      grid-row-start: 22;
      grid-row-end: 30;
      padding: 0;
    }
    .logo {
      grid-column-start: 6;
      grid-column-end: 12;
      grid-row-start: 3;
      grid-row-end: 20;
    }
    .pitch {
      grid-column-start: 6;
      grid-column-end: 11;
      grid-row-start: 22;
      grid-row-end: 28;
      padding: 0px;
    }
    /* .pitch>p {
      font-size: 1.5rem;
    } */
    /* ====================================================================== */
    /* ========================= Alternative grid (min-width: 965px) =========================== */
    /* ====================================================================== */
    .grid.alternate {
      grid-template-columns: repeat(10, 1fr) 25.625rem 1fr;
      grid-auto-rows: repeat(26rem, 1fr);
      grid-auto-flow: row;
      grid-column-gap: 3rem;
    }
    article {
      /* max-height: 40rem; */
      grid-row-gap: 1.5rem;
      padding-bottom: calc(3 * 1.5rem);
      grid-template-columns: repeat(1, 1fr)
    }
    .grid>.img {
      grid-column-start: 3;
      grid-column-end: 13;
      grid-row-start: 3;
      grid-row-end: 15;
      padding: 0;
    }
    .grid>section {
      grid-column-start: 2;
      grid-column-end: 3;
      grid-row-start: 3;
      grid-row-end: 15;
      max-width: 388px;
      padding: 0;
    }
    .grid.alternate>.img {
      grid-column-start: 1;
      grid-column-end: 11;
      grid-row-start: 3;
      grid-row-end: 15;
      padding: 0;
    }
    .grid.alternate>section {
      grid-column-start: 11;
      grid-column-end: 12;
      grid-row-start: 3;
      grid-row-end: 15;
      padding: 0 0 0;
    }
    /* ====================================================================== */
    /* ============================ gallery grid (min-width: 965px) ============================= */
    /* ====================================================================== */
    .gallery.grid>div{
      grid-row-end: 28;
    }
    .gallery.grid>div>figure:nth-child(2) {
      grid-row-start: 5;
      grid-row-end: 20;
      padding: 0;
    }
    .gallery.grid>div>figure:nth-child(3){
      grid-row-start: 5;
      grid-row-end: 20;
      padding: 0;
    }
    .gallery.grid>div>figure:nth-child(4) {
      grid-row-start: 22;
      grid-row-end: 37;
    }
    .gallery.grid>div>figure:nth-child(5){
      grid-row-start: 22;
      grid-row-end: 37;
    }
    .gallery.grid>div>figure:nth-child(6){
      grid-row-start: 39;
      grid-row-end: 54;
    }
    .gallery.grid>div>figure:nth-child(7) {
      grid-row-start: 39;
      grid-row-end: 54;
    }
    /* ====================================================================== */
    /* ============================ Awards grid (min-width: 965px) ============================= */
    /* ====================================================================== */
    .awards.grid>div, .form.grid>div {
      grid-column-start: 2;
      grid-column-end: 12;
      padding: 0;
      display: grid;
      grid-template-columns: repeat(4, 1fr);
    }
    .awards.grid>div>.title {
      grid-column-start: 1;
      grid-column-end: 5;
    }
    .awards.grid>div>.award-1 {
      grid-column-start: 1;
      grid-column-end: 2;
    }
    .awards.grid>div>.award-2 {
      grid-column-start: 2;
      grid-column-end: 3;
    }
    .awards.grid>div>.award-3 {
      grid-column-start: 3;
      grid-column-end: 4;
    }
    .awards.grid>div>.award-4 {
      grid-column-start: 4;
      grid-column-end: 5;
    }
    /* .awards.grid>div {
      background: tomato;
    } */
    /* ====================================================================== */
    /* ============================ Footer grid (min-width: 965px) ============================= */
    /* ====================================================================== */
    footer.grid>div {
      grid-row-end: 5;
    }
    footer>div>hgroup {
      grid-column-start: 1;
      grid-column-end: 6;
      grid-row-start: 1;
      grid-row-end: 4;
      padding: 0;
    }
    footer>div>.contact {
      grid-column-start: 6;
      grid-column-end: 12;
      grid-row-start: 1;
      grid-row-end: 3;
      padding: 0;
    }
    footer>div>address {
      grid-column-start: 6;
      grid-column-end: 12;
      grid-row-start: 3;
      grid-row-end: 5;
    }
  }
  @media (min-width: 1400px) {
    .grid {
      grid-template-columns: 1fr 25.625rem 53.625rem 1fr;
      grid-template-rows: 1;
      grid-auto-rows: repeat(26rem, 1fr);
      grid-auto-flow: row;
    }
    /* ====================================================================== */
    /* ============================ Header grid (min-width: 1400px) ============================= */
    /* ====================================================================== */
    header.grid {
      grid-template-columns: 1fr 82.25rem 1fr;
    }
    header.grid>div {
      grid-column-start: 2;
      grid-column-end: 3;
      padding: 0;
      display: grid;
      grid-template-columns: repeat(12, 1fr);
      grid-auto-rows: 1.5rem;
      grid-column-gap: 3rem;
    }
    hgroup {
      grid-column-start: 1;
      grid-column-end: 5;
      grid-row-start: 4;
      grid-row-end: 11;
      padding: 0;
    }
    nav {
      grid-column-start: 1;
      grid-column-end: 5;
      grid-row-start: 22;
      grid-row-end: 30;
      padding: 0;
    }
    .logo {
      grid-column-start: 7;
      grid-column-end: 13;
      grid-row-start: 3;
      grid-row-end: 20;
    }
    .pitch {
      grid-column-start: 7;
      grid-column-end: 13;
      grid-row-start: 22;
      grid-row-end: 30;
      padding: 0;
    }
    /* ====================================================================== */
    /* ========================= Alternative grid (min-width: 1400px) =========================== */
    /* ====================================================================== */
    .grid.alternate {
      grid-template-columns: 1fr 53.625rem 25.625rem 1fr;
      grid-auto-rows: repeat(26rem, 1fr);
      grid-auto-flow: row;
    }
    article {
      /* max-height: 40rem; */
      grid-row-gap: 1.5rem;
      padding-bottom: calc(3 * 1.5rem);
      grid-template-columns: repeat(1, 1fr)
    }
    .grid>.img {
      grid-column-start: 3;
      grid-column-end: 4;
      padding: 0;
    }
    .grid>section {
      grid-column-start: 2;
      grid-column-end: 3;
      grid-row-end: 15;
      padding: 0;
    }
    .grid.alternate>.img {
      grid-column-start: 2;
      grid-column-end: 3;
      padding: 0;
    }
    .grid.alternate>section {
      grid-column-start: 3;
      grid-column-end: 4;
      grid-row-end: 15;
      padding: 0 0 0;
    }
    /* ====================================================================== */
    /* ============================ gallery grid (min-width: 1400px) ============================= */
    /* ====================================================================== */
    .gallery.grid > div {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-end: 19;
    grid-template-columns: repeat(3, 1fr);
  }
  .gallery.grid>div>.title {
      grid-column-start: 1;
      grid-column-end: 4;
      grid-row-start: 2;
      grid-row-end: 4;
    }
    .gallery.grid>div>figure:nth-child(2) {
      grid-column-start: 1;
      grid-column-end: 2;
      grid-row-start: 5;
      grid-row-end: 20;
    }
    .gallery.grid>div>figure:nth-child(3){
      grid-column-start: 2;
      grid-column-end: 3;
      grid-row-start: 5;
      grid-row-end: 20;
    }
    .gallery.grid>div>figure:nth-child(4) {
      grid-column-start: 3;
      grid-column-end: 4;
      grid-row-start: 5;
      grid-row-end: 20;
    }
    .gallery.grid>div>figure:nth-child(5){
      grid-column-start: 1;
      grid-column-end: 2;
      grid-row-start: 22;
      grid-row-end: 37;
    }
    .gallery.grid>div>figure:nth-child(6){
      grid-column-start: 2;
      grid-column-end: 3;
      grid-row-start: 22;
      grid-row-end: 37;
    }
    .gallery.grid>div>figure:nth-child(7) {
      grid-column-start: 3;
      grid-column-end: 4;
      grid-row-start: 22;
      grid-row-end: 37;
    }


    /* ====================================================================== */
    /* ============================ Awards grid (min-width: 1400px) ============================= */
    /* ====================================================================== */
    article.award.grid, .form.grid {
      grid-template-columns: 1fr 82.25rem 1fr;
    }
    .awards.grid>div, .form.grid>div {
      grid-column-start: 2;
      grid-column-end: 3;
      grid-template-columns: repeat(10, 1fr);
    }
    .awards.grid>div>.title {
      grid-column-start: 2;
      grid-column-end: 5;
    }
    .awards.grid>div>.award-1 {
      grid-column-start: 2;
      grid-column-end: 4;
    }
    .awards.grid>div>.award-2 {
      grid-column-start: 4;
      grid-column-end: 6;
      padding: 0;
    }
    .awards.grid>div>.award-3 {
      grid-column-start: 6;
      grid-column-end: 8;
      padding: 0;
    }
    .awards.grid>div>.award-4 {
      grid-column-start: 8;
      grid-column-end: 10;
      padding: 0;
    }
    /* .awards.grid>div {
      background: lime;
    } */
    /* ====================================================================== */
    /* ============================ Form grid (min-width: 1400px) ============================= */
    /* ====================================================================== */
    .form.grid>div {
      grid-column-start: 2;
      grid-column-end: 3;
      grid-row-start: 1;
      grid-row-end: 7;
      padding-left: 0;
      padding-right: 0;
    }
    .form.grid>div>form {
      grid-column-start: 2;
      grid-column-end: 6;
    }
    .awards.grid {
      grid-template-columns: 1fr 82.25rem 1fr;
    }
    /* ====================================================================== */
    /* ============================ Footer grid (min-width: 1400px) ============================= */
    /* ====================================================================== */
    footer.grid>div {
      grid-column-start: 2;
      grid-column-end: 4;
      padding: 0;
      display: grid;
      grid-template-columns: repeat(12, 1fr);
      grid-auto-rows: 1.5rem;
      grid-column-gap: 3rem;
    }
  }
  /* 858px */
}
